body {
  margin: 0px;
  overflow: hidden;
}
.tick text {
  font-size: 24px;
}
.menu-container {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: space-around;
}
